---
- name: Manage cron jobs
  ansible.builtin.cron:
    name: "{{ item.name }}"
    user: "{{ item.user | default('root') }}"
    minute: "{{ item.minute | default('*') }}"
    hour: "{{ item.hour | default('*') }}"
    day: "{{ item.day | default('*') }}"
    month: "{{ item.month | default('*') }}"
    weekday: "{{ item.weekday | default('*') }}"
    job: "{{ item.job }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ cron_jobs | default([]) }}"
  tags: [schedule]
