- hosts: bazziteesxi
  become: true
  gather_facts: yes
  vars:
    domain_name: "gamecenter.lan"
    dc_dns_v6: "2025:db8:1::2"
    dc_dns_v4: "10.10.10.2"
    pkgs:
      - realmd
      - sssd
      - sssd-tools
      - adcli
      - oddjob
      - oddjob-mkhomedir
      - samba-common
      - samba-common-tools
      - krb5-workstation
      - sssd-ad
    ansible_python_interpreter: "/usr/bin/python3"

  tasks:
    - name: Verificar si el paquete realmd está instalado
      ansible.builtin.command:
        cmd: rpm-ostree status | grep realmd
      register: realmd_status
      failed_when: false

    - name: Instalar realmd si no está instalado
      ansible.builtin.shell:
        cmd: rpm-ostree install realmd
      when: realmd_status.stdout == ""
      become: true

    - name: Instalar otros paquetes de dominio si no están instalados
      ansible.builtin.shell:
        cmd: rpm-ostree install {{ item }}
      loop: "{{ pkgs[1:] }}"
      become: true

    - name: Reiniciar Bazzite antes de unir al dominio
      ansible.builtin.reboot:
        msg: "Reinicio automático previo al join al dominio gamecenter.lan"
        reboot_timeout: 600

    - name: Configurar systemd-resolved para usar el DC como DNS principal IPv6
      ansible.builtin.copy:
        dest: /etc/systemd/resolved.conf
        content: |
          [Resolve]
          DNS={{ dc_dns_v6 }}
          FallbackDNS=2001:4860:4860::8888 2001:4860:4860::8844
          Domains={{ domain_name }}
        mode: '0644'

    - name: Habilitar y reiniciar systemd-resolved
      ansible.builtin.service:
        name: systemd-resolved
        state: restarted
        enabled: yes

    - name: Descubrir el dominio
      ansible.builtin.command: realm discover {{ domain_name }}
      register: discover
      changed_when: false


    - name: Unir al dominio (usando Administrator)
      ansible.builtin.expect:
        command: realm join --verbose {{ domain_name }} -U Administrador
        responses:
          (?i)Password for *: "mrk87dwp_"
      register: join_result
      changed_when: "'already joined' not in join_result.stdout"

    - name: Habilitar creación automática de home
      ansible.builtin.lineinfile:
        path: /etc/sssd/sssd.conf
        regexp: '^#?override_homedir ='
        line: 'override_homedir = /home/%d/%u'
      notify: restart sssd

  handlers:
    - name: restart sssd
      ansible.builtin.service:
        name: sssd
        state: restarted
