- hosts: bazziteesxi
  become: true
  gather_facts: yes
  vars:
    domain_name: "gamecenter.lan"
    dc_dns_v6: "2025:db8:1::2"
    dc_dns_v4: "10.10.10.2"
    pkgs:
      - realmd
      - sssd
      - sssd-tools
      - adcli
      - oddjob
      - oddjob-mkhomedir
      - samba-common
      - samba-common-tools
      - krb5-workstation
      - sssd-ad
    ansible_python_interpreter: "/usr/bin/python3"

  tasks:
    - name: Verificar si el paquete realmd está instalado
      ansible.builtin.command:
        cmd: rpm-ostree status | grep "{{ item }}"
      register: package_status
      failed_when: false
      loop: "{{ pkgs }}"
      loop_control:
        loop_var: item

    - name: 
      Debug: Verificar la salida de rpm-ostree
      ansible.builtin.debug:
        var: package_status

    - name: Instalar paquetes no instalados
      ansible.builtin.shell:
        cmd: rpm-ostree install {{ item }}
      loop: "{{ pkgs }}"
      when: "'{{ item }}' not in package_status.stdout"  # Esto puede necesitar ser ajustado basado en el resultado del debug
      become: true

    - name: Apuntar resolv.conf al DC (temporal y simple)
      ansible.builtin.copy:
        dest: /etc/resolv.conf
        content: |
          search {{ domain_name }}
          nameserver {{ dc_dns_v6 }}
          nameserver {{ dc_dns_v4 }}
        mode: '0644'

    - name: Descubrir el dominio
      ansible.builtin.command: realm discover {{ domain_name }}
      register: discover
      changed_when: false

    - name: Unir al dominio (usando Administrator)
      ansible.builtin.expect:
        command: realm join --verbose {{ domain_name }} -U Administrador
        responses:
          (?i)Password for *: "mrk87dwp_"
      register: join_result
      changed_when: "'already joined' not in join_result.stdout"

    - name: Habilitar creación automática de home
      ansible.builtin.lineinfile:
        path: /etc/sssd/sssd.conf
        regexp: '^#?override_homedir ='
        line: 'override_homedir = /home/%d/%u'
      notify: restart sssd

  handlers:
    - name: restart sssd
      ansible.builtin.service:
        name: sssd
        state: restarted
